.footerPolicy {
	width: 100%;
	height: auto;
	background-color: #fdf7f7;

	@include pc {
		padding: 0 25%;
	}
	@include sp {
		padding: 0 10%;
	}
	&__content {
		&__link {
			display: block;
			margin: auto;
			text-align: center;
			border: solid 3px #{$black};
			border-radius: 5px;
			margin: 0 0 80px 0;
			&__item {
				display: block;
				color: #{$black};
				@include pc {
					padding: 30px 30%;
				}
				@include sp {
					padding: 20px 25%;
				}
			}
		}
		&__logo {
			margin: 0 auto 40px;
			width: fit-content;
			display: block;
			img {
				width: 360px;
			}
		}
		&__list {
			text-align: center;
			@include pc {
				width: fit-content;
				margin: auto;
				justify-content: space-between;
			}
			@include sp {
				justify-content: center;
			}
			&__item {
				.text-normal {
					color: #{$black};
					margin: 0 15px;
					@include sp {
						margin: 0 10px 10px;
					}
				}
			}
			.mb-30 {
				margin-bottom: 30px;
			}
		}
	}
}
