footer.footer
  .footer__content
    .footer__content__list
      //- .footer__content__list__item
        a(href=path+"/privacy/").text-normal プライバシーポリシー
      .footer__content__list__item.mb-30
        a(href=path+"/terms/").text-normal 利用規約
      .footer__content__list__item.mb-30
        a(href="https://ninareru.com/" target="_blank" rel="noopener").text-normal 運営会社
      .footer__content__list__item
        p.text-small ©︎2021 NINARERU Inc.
