- var url          = 'https://postnn.com/terms';
- var local_url    = 'http://192.168.11.3:3000/';
- var site_name    = 'POSTNn';
- var og_locale    = 'jp_JP';
- var og_type      = 'company';
- var twitter_card = 'summary_large_image';
- var twitter_site = '@';
- var title        = 'プレゼントを贈る・受取るはPOSTNn';
- var description  = 'POSTNnではLINE連携を行い誰でも無料で簡単にプレゼントの受取ができます。安心・安全を兼ね備えたサービスです。まずは友達追加から・・・';
- var og_img       = 'https://postnn.com/img/ogp.png';
- var favicon      = './favicon.ico';
- var path         = '..'


doctype html

html(lang="ja")

  head
    include ../include/_head

  body
    include ../include/_header
    main.bg-pink
      .page
        .page__here
          img(src=path+"/img/common/terms.svg", alt="")

      .pageBox
        .container
          .section
            p.text-normal プライバシーポリシー決まったらここに入れるプライバシーポリシー決まったらここに入れる
          .section
            h2.text-large プライバシーポリシー決まったらここに入れるプライバシーポリシー決まったらここに入れる
            p.text-normal プライバシーポリシー決まったらここに入れるプライバシーポリシー決まったらここに入れる
          .section
            h2.text-large プライバシーポリシー決まったらここに入れるプライバシーポリシー決まったらここに入れる
            p.text-normal プライバシーポリシー決まったらここに入れるプライバシーポリシー決まったらここに入れる
          .section
            h2.text-large プライバシーポリシー決まったらここに入れるプライバシーポリシー決まったらここに入れる
            p.text-normal プライバシーポリシー決まったらここに入れるプライバシーポリシー決まったらここに入れる
            ul
              li.text-normal プライバシーポリシー決まったらここに入れるプライバシーポリシー決まったらここに入れる
              li.text-normal プライバシーポリシー決まったらここに入れるプライバシーポリシー決まったらここに入れる
              li.text-normal プライバシーポリシー決まったらここに入れるプライバシーポリシー決まったらここに入れる
          .section
            h2.text-large プライバシーポリシー決まったらここに入れるプライバシーポリシー決まったらここに入れる
            p.text-normal プライバシーポリシー決まったらここに入れるプライバシーポリシー決まったらここに入れる
          .section
            h2.text-large プライバシーポリシー決まったらここに入れるプライバシーポリシー決まったらここに入れる
            p.text-normal プライバシーポリシー決まったらここに入れるプライバシーポリシー決まったらここに入れる
          .section
            h2.text-large プライバシーポリシー決まったらここに入れるプライバシーポリシー決まったらここに入れる
            p.text-normal プライバシーポリシー決まったらここに入れるプライバシーポリシー決まったらここに入れる
          .section
            h2.text-large プライバシーポリシー決まったらここに入れるプライバシーポリシー決まったらここに入れる
            p.text-normal プライバシーポリシー決まったらここに入れるプライバシーポリシー決まったらここに入れる
    include ../include/_footer
    include ../include/_script
